<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>
<body>
    {% if g.user %}
        {% if g.user.locale == 'fr' %}
            <p>{{ gettext("Nous sommes le %(current_time)s.", current_time=current_time) }}</p>
        {% else %}
            <p>{{ gettext("The current time is %(current_time)s.", current_time=current_time) }}</p>
        {% endif %}
    {% else %}
        <p>{{ gettext("The current time is %(current_time)s.", current_time=current_time) }}</p>
    {% endif %}
</body>
</html>
